@model IEnumerable<AllInquiryViewModel>
@{
    ViewData["Title"] = "Inquiries";
}
<!DOCTYPE html>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>

<script>
    function myFunction() {
        var x = document.getElementById("dateRange").value;
        document.getElementById("days").textContent = x;
    }
    let data;
    let filteredData;
    let sortString = "";

    
</script>

<script>
    function Filter() {
        let i = data.filter((el) => el.userFirstName == "Agat");
        console.log(i);
        return data.filter((el) => el.userFirstName == "Agat");
    }
    function Show(inquiries) {
        $("#mainTable").empty();
        $.each(inquiries, function (i, v) {
            var row = "<tr>";

            row += "<td>" + v.submissionDate + "</td>";
            row += "<td>" + v.loanValue + "</td>";
            row += "<td>" + v.installmentsCount + "</td>";
            row += "<td>" + v.userFirstName + "</td>";
            row += "<td>" + v.userLastName + "</td>";
            row += "<td>" + v.email + "</td>";

            row += "</tr>";
            // console.log(row);
            $("#mainTable").append($(row));
        });
    }
    function SortBy(sortOrder) {
        sortString = sortOrder;
    }
    function Sort(sorted) {
        if (sortString == "loan_desc") {
            return sorted.sort((a, b) => a.loanValue < b.loanValue)
        }
        if (sortString == "loan_asc") {
            return sorted.sort((a, b) => a.loanValue > b.loanValue)
        }
        if (sortString == "date_desc") {
            return sorted.sort((a, b) => new Date(b.submissionDate).getTime() - new Date(a.submissionDate).getTime())
        }
        else {
            return sorted.sort((a, b) => new Date(a.submissionDate).getTime() - new Date(b.submissionDate).getTime())
        }
    }
    function ShowAfter() {
        //let filtered = Filter();
        //filtered = Sort(filtered);
        let filtered = Sort(data);
        Show(filtered);
    }
</script>

<script>

    $(function () {

        $('#loaddata').click(function () {

            Promise.resolve($.ajax({
                type: "GET",
                url: '/Home/Filter',
                contentType: false,
                processData: false
            })).then(function (result) {
                if (result) {
                    data = result;
                    filteredData = result;

                    //$.each(result, function (i, v){
                    //    var row = "<tr>";

                    //    row += "<td>" + v.submissionDate + "</td>";
                    //    row += "<td>" + v.loanValue + "</td>";
                    //    row += "<td>" + v.installmentsCount + "</td>";
                    //    row += "<td>" + v.userFirstName + "</td>";
                    //    row += "<td>" + v.userLastName + "</td>";
                    //    row += "<td>" + v.email + "</td>";

                    //    row+= "</tr>";
                    //    console.log(row);
                    //    $("#mainTable").append($(row));
                    //});

                    Show(data);

                }
            }).catch(function (e) {
                console.log(e);
            });
        });

    });

</script>


<div class="nav-item dropdown left">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" data-bs-popper="static">
        <label class="dropdown-item" onclick="SortBy('')">DATE, NEW TO OLD</label>
        <label class="dropdown-item" onclick="SortBy('date_desc')">DATE, OLD TO NEW</label>
        <label class="dropdown-item" onclick="SortBy('loan_asc')">LOAN, LOW TO HIGH</label>
        <label class="dropdown-item" onclick="SortBy('loan_desc')">LOAN, HIGH TO LOW</label>
    </div>
</div>
<input type="button" value="Load Data" id="loaddata" />
<input type="button" value="filetr" id="Filter" onclick="ShowAfter()" />
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="nameInputCheckbox">
    <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
    </label>
    <input type="text" id="nameInput" disabled />
</div>
<form asp-action="AllBankInquiries" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="range" class="form-range" id="dateRange" name="dateRange" min="1" max="100" value="@ViewData["DateFilter"]" oninput="myFunction()">
            <label for="dateRange" class="form-label">Show the last <label id="days">  @ViewData["DateFilter"]  </label> days</label>
            <input type="submit" value="Search" />
            <a asp-action="AllBankInquiries">Back to Full List</a>
        </p>
    </div>


</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Loan Value</th>
            <th scope="col">Number Of installments</th>
            <th scope="col">Client's last name</th>
            <th scope="col">Client's first name</th>
            <th scope="col">Client's email</th>
        </tr>
    </thead>
    <tbody id="mainTable">
    </tbody>
</table>

</!html>