@model NotRegisteredInquiryModel

<div class="submit-progress hidden">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
    <label>Please wait while Saving Data...</label>
</div>

<form method="post" asp-action="InquiryNotRegistered">
    <label asp-for="LoanValue">Insert loan value</label>
    <input type="number" asp-for="LoanValue" value="" required /><br />
    <br />

    <label asp-for="InstallmentsCount">Insert number of installments</label>
    <input type="number" asp-for="InstallmentsCount" required /><br />
    <br />

    <label asp-for="UserFirstName">First name:</label>
    <input asp-for="UserFirstName" required /><br />
    <br />

    <label asp-for="UserLastName">Last name:</label>
    <input asp-for="UserLastName" required /><br />
    <br />

    <label asp-for="UserBirthDay">Birth date:</label>
    <input type="datetime-local" asp-for="UserBirthDay" required /><br />
    <br />

    <label asp-for="ClientGovernmentIDType">Government ID Type:</label>
    @Html.DropDownListFor(
    m=>m.ClientGovernmentIDType,
    new SelectList(BankApp.Models.DocumentTypes.DocumentTypesDictionary.Keys),"Select Government ID Type", new {required = (string)null}) <br />
    <br/>

    <label asp-for="ClientGovernmentIDNumber">Government ID Number:</label>
    <input asp-for="ClientGovernmentIDNumber" required /> <br />
    <br />

    <label asp-for="ClientJobType">Job type:</label>
    @Html.DropDownListFor(
    m=>m.ClientJobType,
    new SelectList(BankApp.Models.JobTypes.JobTypesDictionary.Keys),"Select Job Type", new {required = (string)null}) <br />
    <br />

    <label asp-for="ClientJobStartDay">Job start date:</label>
    <input type="datetime-local" asp-for="ClientJobStartDay" required /> <br />
    <br />

    <label asp-for="ClientIncomeLevel">Income level:</label>
    <input type="number" asp-for="ClientIncomeLevel" required /> <br />
    <br />

    <label asp-for="Email">Email:</label>
    <input type=email asp-for="Email" /> <br />
    <br required />

    <span asp-validation-for="Email" class="text-danger"></span>

    <input type="submit" value="Submit inquiry" onclick="return DisplayProgressMessage(this,'Saving...')" />
</form>

<style>
    .submit-progress-bg {
        background-color: lightgray;
        opacity: .5;
    }

    .submit-progress {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 6em;
        padding-top: 2.3em;
        z-index: 1;
        /* The following properties are the ones most likely to change */
        width: 20em;
        /* Set 'margin-left' to a negative number that is 1/2 of 'width' */
        margin-left: -10em;
        padding-left: 2.1em;
        background-color: black;
        color: white;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        border-radius: 0.4em;
        box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    }

    /* Changing style for spinner */
    .submit-progress {
        padding-top: 2em;
        width: 23em;
        margin-left: -11.5em; /* Set to a negative number that is 1/2 of the width */
    }

        .submit-progress i {
            margin-right: 0.5em;
        }

    .hidden {
        display: none;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function DisplayProgressMessage(ctl, msg) {
            //if use the submit button, you can use event.preventDefault to prevent the default submit form behavior.
            event.preventDefault();
            // Turn off the "Save" button and change text
            $(ctl).prop("disabled", true).val(msg);
            // Gray out background on page
            $("body").addClass("submit-progress-bg");
            // Wrap in setTimeout so the UI can update the spinners
            $(".submit-progress").removeClass("hidden");
            //submit the form.
            setTimeout(function () {
                $("form").submit();
            }, 1);
            return true;
        }
    </script>
}