@model InquiryModel

<div class="submit-progress hidden">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
    <label>Please wait while Saving Data...</label>
</div>

<form method="post" asp-action="LoggedInquiry" style="width:395px">
    <h2>Enter Your loan details</h2><br />
    <label style="width:200px">Loan value</label>
    <input type="number" asp-for="LoanValue" value="" required/><br/>
    <span asp-validation-for="LoanValue" class="text-danger"></span>
    <label style="width:200px">Number of installments</label>
    <input type="number" asp-for="InstallmentsCount" value="" style="margin:0 0 20px 0;" required />
    <span asp-validation-for="InstallmentsCount" class="text-danger"></span>
    <br />
    <input style="float:right;" type="submit" value="Submit inquiry"/>
</form>

<style>
    .submit-progress-bg {
        background-color: lightgray;
        opacity: .5;
    }

    .submit-progress {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 6em;
        padding-top: 2.3em;
        z-index: 1;
        /* The following properties are the ones most likely to change */
        width: 20em;
        /* Set 'margin-left' to a negative number that is 1/2 of 'width' */
        margin-left: -10em;
        padding-left: 2.1em;
        background-color: black;
        color: white;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        border-radius: 0.4em;
        box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    }

    /* Changing style for spinner */
    .submit-progress {
        padding-top: 2em;
        width: 23em;
        margin-left: -11.5em; /* Set to a negative number that is 1/2 of the width */
    }

        .submit-progress i {
            margin-right: 0.5em;
        }

    .hidden {
        display: none;
    }
</style>
