@model InquiryString
<h1 id="numberOfOffers">Offers 0/3</h1>
@*<div id="loading-div-background">
    <div id="loading-div" class="ui-corner-all">
        <div id="loadingbar"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
        <h2 style="color:gray;font-weight:normal;">Please wait....</h2>
    </div>
</div>*@

<table>
    <h1 id="header1" style="display:none">Offer 1</h1>
    <tbody id="tablebody1">
    </tbody>
</table>
<button id="button1" style="display:none" onclick="return offer1()">Wybierz</button>
<table>
    <h1 id="header2" style="display:none">Offer 2</h1>
    <tbody id="tablebody2">
    </tbody>
</table>
<button id="button2" style="display:none" onclick="return offer2()">Wybierz</button>
<script src="https://kit.fontawesome.com/ebd704dc7e.js" crossorigin="anonymous"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script>
    let offers = 0;
    let offerID;
    function updateTitle() {
        document.getElementById("numberOfOffers").textContent = "Offers " + offers + "/3";
    }
    function offer1() {
        $.get("/Home/Show")
            .done(function (data) {
                window.location.href = data;
            })
    }
    function offer2() {
        $.get("/Home/GetLink", { id: offerID, bankName: "projectAPI" })
            .done(function (data) {
                window.location.href = data;
            })
    }

</script>
<script>
    $(function () {
        //$('#loading-div-background').show();

        Promise.resolve($.ajax({
            type: "GET",
            url: "/Home/BestAPIWaitForOffer",
            dataType: "json"

        })).then(function (result) {
            if (result) {

                if (++offers === 2) {
                    $('#loading-div-background').hide();
                }
                updateTitle();
                $("#header1").show()
                $("#button1").show()
                console.log(result);
                var row = "";
                $.each(result, function (index, item) {
                    row += "<tr><td>" + index
                        + "</td><td>" + item + "</td></tr> ";
                });
                $("#tablebody1").html(row);
            }
        }).catch(function (e) {
            console.log(e);
        });
        Promise.resolve($.ajax({
            type: "GET",
            url: "/Home/WaitForOffer?inquiryId=" + @Model.inquiryId.ToString() + "&inquiryIdInOurDb=" + @Model.inquiryIdInOurDb.ToString(),
            dataType: "json"

        })).then(function (result) {
            if (result) {
                if(++offers === 2){
                        $('#loading-div-background').hide();
                }
                updateTitle();
                offerID = result.id;
                console.log("offer id w naszym banku");
                console.log(result.id);
                $("#header2").show()
                $("#button2").show()
                var row = "";
                $.each(result, function (index, item) {
                    row += "<tr><td>" + index
                        + "</td><td>" + item + "</td></tr> ";
                });
                $("#tablebody2").html(row);
            }
        }).catch(function (e) {
            console.log(e);
        });
        
    });
</script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>